# Python Data Types

## 1.List Functions

In [1]:
#1.append() is used to adds an element at the end of the list
list1=["Pavani","Reyansh","Naveen","Sandeep","Anudeep"]
list2=["1992","1995","1997","1990"]
for x in list2:
    list1.append(x)
print(list1)

['Pavani', 'Reyansh', 'Naveen', 'Sandeep', 'Anudeep', '1992', '1995', '1997', '1990']

In [2]:
#2.insert() is used to adds an element at the specified position
fruits=["apple","banana","orange","qiwi","avacado"]
fruits.insert(3,"cherry")
print(fruits)

['apple', 'banana', 'orange', 'cherry', 'qiwi', 'avacado']

In [3]:
#3.pop() is used to removes the element at the specified position,(or the last element if index is not specified)
ankush=["ajakdj",123,"wkoo",1212,2.898,232,23.22,"dijioj"]
ankush.pop()
print(ankush)

['ajakdj', 123, 'wkoo', 1212, 2.898, 232, 23.22]

In [4]:
#4.clear() is used to remove all the elements from the list
mylist=["My","Name","is","Pavani"]
mylist.clear()
print(mylist)

[]

In [5]:
#5.reverse() is used to reverses the order of the list
shreshta=["a",1,"b",2,"c",3,"d",4,"e",5,"f",6,"g",7,"h",8]
shreshta.reverse()
print(shreshta)

[8, 'h', 7, 'g', 6, 'f', 5, 'e', 4, 'd', 3, 'c', 2, 'b', 1, 'a']

## 2.Dictionary Functions

In [6]:
#1.fromkeys() is used to returns a dictionary with the specified keys and value
mydict={"brand":"fortune ford","model":"Mustang","year":1965}
mydict.fromkeys("model")
print(mydict)

{'brand': 'fortune ford', 'model': 'Mustang', 'year': 1965}

In [9]:
#2.get() is used to returns the value of the specified key
mydict={"name":"priyanka","place":"hyderabad","age":28}
a=mydict.get("place")
print(a)

hyderabad

In [7]:
#3.pop() is used to removes the element with the specified key
thisdict={"brand":"toyota","model":"corolla","year":1998}
thisdict.pop("brand")
print(thisdict)

{'model': 'corolla', 'year': 1998}

In [10]:
#4.clear() is used to removes all the elements from the dictionary
thisdict={"place":"vijayawada","country":"India","year":2010}
thisdict.clear()
print(thisdict)

{}

In [12]:
#5.copy() is used to returns a copy of the dictionary
mydict={"name":"reyansh","school":"nbbhs","class":"ukg"}
thisdict=mydict.copy()
print(thisdict)

{'name': 'reyansh', 'school': 'nbbhs', 'class': 'ukg'}

## 3.Set Functions

In [13]:
#1.update() is used to Update the set with the union of this set and others
thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'apple', 'mango', 'orange', 'cherry', 'grapes', 'banana'}

In [14]:
#2.union() is used to return a set containing the union of sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [15]:
#3.intersection() is used to returns a set, that is the intersection of two other sets
set1={"a","b",1,"c",5,"g",8,"hhi","vghj",123,786,3.67,7.98}
set2={3.67,"dkl","wjk","iul",1,8,123,"g",9.8787,"b","wiijd"}
set3=set1.intersection(set2)
print(set3)

{1, 3.67, 'b', 8, 'g', 123}

In [16]:
#4.clear() is used to removes all the elements from the set
myset={"hi","my","name","is","sai","krishna"}
myset.clear()
print(myset)

set()

In [17]:
#5.pop() is used to removes an element from the set
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'apple', 'banana'}

## 4.Tuple Functions

In [21]:
#1.count() is used to returns the number of times a specified value occurs in a tuple
this_tuple=("apple","banana","cherry","pine_apple","banana","watermelon","banana")
X=this_tuple.count("banana")
print(X)

3

In [22]:
#2.index() is used to Searches the tuple for a specified value and returns the position of where it was found
this_tuple=("apple","banana","cherry","pine_apple","banana","watermelon","banana")
X=this_tuple.index("banana")
print(X)

1

In [23]:
#3.len() is used to determine how many items are present in tuple
mytuple=("my","friend","is","going","to","school","she","is","now","8th","standard")
a=len(mytuple)
print(a)

11

In [24]:
#4.Joining two tuples using "+" operator
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [25]:
#5.del() 
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [26]:
#create a tuple with one item using ","
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

## 5.String Functions

In [27]:
#1.lower() Converts a string into lower case
a = "Hello, World!"
print(a.lower())

hello, world!

In [28]:
#2.upper() Converts a string into upper case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [29]:
#3.format() Formats specified values in a string
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [30]:
#4.swapcase() Swaps cases, lower case becomes upper case and vice versa
mystring="myNamEiSdEvAnSh"
txt=mystring.swapcase()
print(txt)

MYnAMeIsDeVaNsH

In [31]:
#5.title() Converts the first character of each word to upper case
mystring="letsupgrade"
mytxt=mystring.title()
print(mytxt)

Letsupgrade